.background {
    -fx-background-color: linear-gradient(
            from 0% 0% to 100% 100%,
            #bb99c2,
            #48324d
    );
    -fx-background-insets: 0, 1, 2, 3;
    -fx-background-radius: 3;
    -fx-padding: 10;
    -fx-border-radius: 10;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.75), 10, 0.0, 0, 0);
}

.button {
    -fx-border-color: #424242;
    -fx-border-width: 1.2;

    -fx-background-color:
            linear-gradient(from 50% 50% to 50% 100%, #9a9a9a, #7c7c7c),
            linear-gradient(from 0% 0% to 100% 100%, rgb(225, 225, 225), rgba(197, 197, 197, 0.2));
    -fx-effect: innershadow(gaussian, rgba(66, 66, 66, 0.49), 2, 0.0, -2, -2);
    -fx-background-radius: 15; /* Rounded edges */
    -fx-border-radius: 15; /* Rounded border*/
    -fx-padding: 6 11;
}

.button:hover {
    -fx-border-color: #424242;
    -fx-borderjar-width: 1.2;

    -fx-background-color:
            linear-gradient(from 50% 50% to 50% 100%, #9a9a9a, #7c7c7c),
            linear-gradient(from 0% 0% to 100% 100%, rgb(208, 208, 208), rgba(171, 171, 171, 0.2));
    -fx-effect: innershadow(gaussian, rgba(66, 66, 66, 0.49), 2, 0.0, 2, 2);
    -fx-background-radius: 15; /* Rounded edges */
    -fx-border-radius: 15; /* Rounded border*/
    -fx-padding: 6 11;
    /*-fx-border-color: #424242;*/
    /*-fx-border-width: 1.2;*/

    /*-fx-background-color:*/
    /*        linear-gradient(from 50% 50% to 50% 100%, #7a7a7a, #606060),*/
    /*        linear-gradient(from 0% 0% to 100% 100%, rgb(208, 208, 208), rgba(239, 239, 239, 0.11));*/
    /*-fx-effect: innershadow(gaussian, rgba(255, 255, 255, 0.49), 1, 0.0, 2, 2);*/
    /*-fx-effect: innershadow(gaussian, rgba(255, 255, 255, 0.49), 1, 0.0, -2, -2);*/
    /*-fx-background-radius: 15; !* Rounded edges *!*/
    /*-fx-border-radius: 15; !* Rounded border*!*/
    /*-fx-padding: 6 11;*/
}
/*.button {*/
/*    -fx-border-color: #af9f81;*/
/*    -fx-background-color:*/
/*            linear-gradient(from 0% 0% to 0% 100%, #eee38c, #e0bf6e),*/
/*            linear-gradient(from 0% 0% to 100% 100%, rgb(255, 247, 156), rgba(255, 255, 255, 0.2));*/
/*    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.61), 10, 0.0, -2, -2);*/
/*    -fx-background-radius: 15; !* Rounded edges *!*/
/*    -fx-border-radius: 15; !* Rounded border*!*/
/*    -fx-padding: 6 11;*/
/*}*/

/*.button {*/
/*    -fx-border-color: #826588;*/
/*    -fx-border-width: 1;*/

/*    -fx-background-color:*/
/*            linear-gradient(from 0% 0% to 0% 100%, #d3c871, #c2a151),*/
/*            linear-gradient(from 0% 0% to 100% 100%, rgb(182, 176, 106), rgba(255, 255, 255, 0.2));*/
/*    -fx-effect: innershadow(three-pass-box, rgb(0, 0, 0,0.61), 10, 0.0, -2, -1);*/
/*    -fx-background-radius: 15; !* Rounded edges *!*/
/*    -fx-border-radius: 15; !* Rounded border*!*/
/*    -fx-padding: 6 11;*/
/*}*/

/*.button:hover {*/
/*    -fx-border-color: #937698;*/
/*    -fx-border-width: 1;*/

/*    -fx-background-color:*/
/*            linear-gradient(from 0% 0% to 0% 100%, #d3c871, #c2a151),*/
/*            linear-gradient(from 0% 0% to 100% 100%, rgb(182, 176, 106), rgba(255, 255, 255, 0.2));*/
/*    -fx-effect: innershadow(three-pass-box, rgb(0, 255, 210), 10, 0.0, -2, -2);*/
/*    -fx-background-radius: 15; !* Rounded edges *!*/
/*    -fx-border-radius: 15; !* Rounded border*!*/
/*    -fx-padding: 6 11;*/
/*}*/

.image-effect {
        -fx-effect: innershadow( three-pass-box , rgba(0, 0, 0, 0.4), 5, 0.0 , 3, 3 );
}

